.container-perfil {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-perfil .text-perfil {
  width: 50%;
}

.container-perfil h2{
  font-size: 2.5vw;
}

.container-perfil p{
  margin-top: 24px;
  text-align: justify;
  font-size: 1.5vw;
}

.container-perfil span{
  font-weight: bold;
  font-size: 2vw;
}

.photo-perfil {
  margin: 0;
  display: flex;
  justify-content: center;
}

.photo-perfil .photo{
  border-radius: 100%;
  width: 10%;
}